{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

<div class="box">
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="{{ url_for('login') }}" method="post">
        {{ form.hidden_tag() }}

        {{ form.email }}
<!--        <input type="text" name="email" placeholder="Email" required="required"/>-->

        {{ form.password }}
<!--        <input type="password" name="password" placeholder="Password" required="required"/>-->

        {{ form.submit(class="btn btn-primary btn-block btn-large") }}
<!--        <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>-->
    </form>
</div>

{% endblock %}